{% extends 'base.html' %} {% load static %} {% block content %}

<section class="row single-fart-view">
    <article class="col-12">
        <div class="farts-top">
            <div id="fart-down-button">
                <a href="javascript:history.back()"><i class="fa-solid fa-hand-point-left"></i></a>
            </div>
            <div id="top-brain-farts"><span id="filtered-type">{{ filtered_type }}</span> FARTS</div>
            <div id="fart-right-button">
                <a href="/farts/edit-fart/{{ fart.id }}"><i class="fa-solid fa-hand-point-right"></i></a>
            </div>
        </div>
        <div class="fart-title">

            <h3>{{ fart }}</h3>

        </div>
        <div class="fart-date">{{ fart.date }}</div>
        <div class="">
            {% if fart.text %}

            <h4>Text:</h4>
            <div class="fart-text">{{ fart.text|linebreaks }}</div>
            {% endif %} {% if fart.audio %}

            <h4>Audio:</h4>
            <div class="fart-audio">
                <div id="waveform"></div>
                <div class="er-fart-actions">
                    <div class="er-control-button">
                        <div class="er-control" id="er-control-download">
                            <a href="{{ MEDIA_URL }}{{ fart.audio }}" title="Download audio" download>
                                <i class="fas fa-download"></i>
                            </a>
                        </div>
                    </div>
                    <div class="er-control-button">
                        <div class="er-control" id="er-control-play">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                    <div class="er-control-button er-control-hide">
                        <div class="er-control" id="er-control-pause">
                            <i class="fas fa-pause"></i>
                        </div>
                    </div>
                    <div class="er-control-button">
                        <div class="er-control" id="er-control-stop">
                            <i class="fas fa-stop"></i>
                        </div>
                    </div>
                </div>

            </div>

            <script>
                var wavesurfer = WaveSurfer.create({
                    container: '#waveform',
                    waveColor: '#664a27',
                    progressColor: '#ffe4c4',
                    cursorColor: "#664a27",
                    cursorWidth: "2",
                    height: "256",
                    interact: true,
                    hideScrollbar: true,
                    responsive: true,
                    plugins: []
                });
                wavesurfer.load('{{ MEDIA_URL }}{{ fart.audio }}');
            </script>
            {% endif %} {% if fart.image %}

            <h4>Image:</h4>
            <div class="fart-image">
                <img src="{{ MEDIA_URL }}{{  fart.image  }}" alt="Fart-image">
                <div class="er-fart-actions">
                    <div class="er-control-button">
                        <div class="er-control er-control-download">
                            <a href="{{ MEDIA_URL }}{{  fart.image  }}" title="Download image" download>
                                <i class="fas fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %} {% if fart.link %}

            <h4>Link:</h4>
            <div class="fart-link">
                <a href="https://{{ fart.link }}" title="{{ fart }}" target="blank">
                    {{ fart.link }}
                </a>
            </div>
            {% endif %}
        </div>



    </article>
    <div class="col-4">
        <p class="show-tag">
            {{ fart.category }}
        </p>
    </div>
    <div class="col-4">
        <p class="show-tag">
            {{ fart.topic }}
        </p>
    </div>
    <div class="col-4">
        <p class="show-tag">
            {{ fart.project }}
        </p>
    </div>
</section>

<script src="{% static '/js/showFart.js' %}"></script>
{% endblock %}