{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brain-farts</title>
    <meta name="description" content="Python app for brain-farts">
    <meta name="author" content="Rotdesign">

    <meta property="og:title" content="Brain-farts">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Python app for brain-farts">


    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static '/js/enterFullscreen.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/5.2.0/wavesurfer.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

</head>

<body>
    <div class="container">

        {% block content %} {% endblock %}
    </div>
    <!-- Show python generated warning messages -->
    {% if messages %} {# Show notifications #}
    <div class="er-messages">
        {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="er-error-message">
            {{ message }}
        </div>
        {% else %}
        <div class="er-success-message">
            {{ message }}
        </div>
        {% endif %} {% endfor %}
    </div>
    {% endif %}
</body>

</html>